<div class="fixed-center widget-box" [formGroup]="form">
  <div class="widget-box-center">

    <!--
    <p style="margin: 0">ZeroPool based on UTXO blockchain model similar to bitcoin. Just like in bitcoin UTXO dust
      might appear. In case of malicious action, that can lead to increased Gas consuption that you can avoid by enable Dust Spam protection.</p>
      -->

    <div class="mb-20">
      <h1 class="dust-protection-title">Dust spam protection</h1>
      <p class="m-0">UTXO dust increased gas consumption, ZeroPool client use auto join to avoid this.</p>
    </div>

    <div>
      <div class="mb-20">
        <mat-checkbox formControlName="activate" [disabled]="true">Enable UTXO auto join</mat-checkbox>
      </div>

      <mat-form-field appearance="outline" class="field">
        <mat-label>Max gas fees for join transaction (Gwei)</mat-label>
        <input matInput formControlName="maxGasFee"
               autocomplete="off" readonly>
      </mat-form-field>

      <mat-form-field appearance="outline" class="field">
        <mat-label>Minimal UTXO size to join (Gwei)</mat-label>
        <input matInput formControlName="minUtxoSize"
               autocomplete="off" readonly>
      </mat-form-field>

    </div>

    <!--
    <p class="dust-protection-warning">This settings deticated for experienced users, please don’t change this it if you
      aren’t confident enough.</p>
      -->

    <div class="actions mt-10">
      <button mat-stroked-button routerLink="/main/settings">Back</button>
      <button mat-stroked-button [disabled]="true" (click)="saveSettings()">Save</button>
    </div>
  </div>
</div>
