<div class="fixed-center widget-box">

  <h1>We need some gas</h1>

  <!--
  <p>ZeroPool relayer receives your transactions off-chain, aggregates and post them on the ethereum network</p>
  <p>By doing so, <b>it keeps the fact of your interaction with ethereum network undiscovered</b>.
    Relayer pays gas fees that we kindly ask you to cover by making gas deposit
  </p>
  -->

  <p>We kindly ask you to cover gas fees paid by relayer, by making gas deposit.</p>
  <p style="text-decoration: underline">What is relayer?</p>
  <br>

  <!--
  <p>ZeroPool transactions aggregated into the blocks posted on the ethereum network</p>
  <p>Relayer receives transactions off chain, and post the block. By doing so relayer don't expose the fact of your interaction with ethereum network</p>
  <p>Relayer receives your off-chain requests do that for you ethereum network and keep yout </p>
  -->

  <!--
  <p>To keep your actions private ZeroPool Relayer will posted on the ethereum network on behalf of .</p>
  <p>Relayer pays gas fees and we kindly ask you to deposit some ETH amount so we can pay your transactions in ZeroPool blocks</p>



  <p>Your ZeroPool transactions will posted on the ethereum network on behalf of ZeroPool Relayer.</p>
  <p>Relayer pays gas fees and we kindly ask you to deposit some ETH amount so we can pay your transactions in ZeroPool blocks</p>
-->

  <div>
    <img src="/assets/images/guy-fawkes-rose.png" width="210px" height="210px">
  </div>

  <!--
  <p>ZeroPool cares about privacy of your account, ZP so transactions</p>
  <p>In order to keep your privacy ZeroPool relayer will execute your</p>
  <p>In order to keep your account private ZeroPool relayer will post your ZP transactions</p>
    That blocks will be published on the ethereum network.<p>
  <p>To do that we need gas deposit</p>
  -->

  <br>

  <div class="actions button-box">
    <button mat-stroked-button routerLink="/main">Back</button>
    <button mat-flat-button color="accent" routerLink="/main/gas-deposit" class="next-btn">
      Proceed
    </button>
  </div>
</div>
