<h2>{{title}}</h2>
<div>

  <img [hidden]="imageSrc !== '/assets/images/guy-fawkes-cross-fingers.png'"
       src="/assets/images/guy-fawkes-cross-fingers.png" width="240px">

  <img [hidden]="imageSrc !== '/assets/images/guy-fawkes-cooking.png'"
       src="/assets/images/guy-fawkes-cooking.png" width="240px">

</div>
<loaders-css style="display: block" loader="ball-beat" [color]="color" [scale]="1"></loaders-css>
<h3>
  {{progressMessageLineOne}}
  <br>
  <a *ngIf="href" [href]="href" target="_blank" style="font-weight: bold; color: #333333">{{progressMessageLineTwo}}</a>
  <span *ngIf="!href" style="font-weight: bold;">{{progressMessageLineTwo}}</span>
</h3>
