.fixed-horizontal-center {
  @media (min-width: 600px) {
    left: 50%;
    position: fixed;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    width: auto;
  }

  @media (max-width: 600px) {
    h1, h3 {
      text-align: center;
    }
  }
}

.button-box {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  width: 100%;

  @media (min-width: 600px) {
    flex-direction: row;
  }
  @media (max-width: 600px) {
    flex-direction: column;

    .next-btn {
      margin-top: 2em;
    }
  }
}
