<div class="fixed-center widget-box">
  <h2>Broken deposits</h2>
  <p>It seems that your deposit transaction wasn't published in ZeroPool block in time.</p>
  <p>You can get your funds back</p>
  <div class="lost-deposit-list">
    <div *ngFor="let w of withdrawals$ | async">
      <div class="lost-deposit-row" *ngIf="{isReady: isReadyToFinalize(w.payNote.blockNumber) | async} as finalize">

        <div>
          <p *ngIf="!finalize.isReady">
            Pending {{ getRemainingBlockNumber(w.payNote.blockNumber) | async }} / {{ expiresBlockNumber | async }}
            blocks
          </p>

          <p *ngIf="finalize.isReady">Verified</p>
          <h3>{{ getAmount(w.payNote.utxo.amount) }} {{ getAssetName(w.payNote.utxo.token) }}</h3>
        </div>

        <div>
          <loaders-css *ngIf="w.isFinalizingNow && !w.isAwaitingForMetamaskSign"
                       loader="ball-beat" [color]="'rgba(100, 100, 100, 0.5)'" [scale]="1"></loaders-css>

          <button *ngIf="!w.isFinalizingNow && !w.isAwaitingForMetamaskSign"
                  [disabled]="!finalize.isReady" (click)="withdraw(w.payNote)" mat-stroked-button>Withdraw
          </button>
          <p *ngIf="w.isAwaitingForMetamaskSign"
             style="font-size: small"><b>check metamask</b>
          </p>
        </div>

      </div>
    </div>

  </div>
  <div class="actions mt-20">
    <button mat-stroked-button routerLink="/main">Back</button>
    <button mat-flat-button routerLink="/main/deposit" color="accent">New deposit</button>
  </div>
</div>
