<div class="fixed-center widget-box">

  <ng-container *ngIf="!isFinished && !isFinishedWithError">
    <ng-container [formGroup]="form" *ngIf="!depositInProgress">

      <h2>Deposit</h2>
      <p>ETH from your account will be deposited to your ZeroPool address via relayer</p>
      <ng-container *ngIf="availableEthAmount">
        <div class="title" style="font-size: 0.7em">Available {{availableEthAmount}} ETH</div>
      </ng-container>

      <ng-container>
        <app-amount-input label="Enter amount of ETH" formControlName="amount"></app-amount-input>
        <mat-hint>Maximum amount of deposit in BETA is: 0.1 ETH</mat-hint>
      </ng-container>

      <div class="actions mt-20">
        <button mat-stroked-button routerLink="/main">Back</button>
        <button mat-flat-button color="accent" (click)="onDepositClick()"
                [disabled]="depositAmount > this.availableEthAmount || !form.valid ||depositAmount > 0.1">Deposit
        </button>
      </div>
    </ng-container>

    <ng-container *ngIf="depositInProgress">
      <h2>Deposit in progress</h2>
      <div>
        <img src="/assets/images/guy-fawkes-cross-fingers.png" width="240px">
      </div>
      <loaders-css loader="ball-beat" [color]="color" [scale]="1"></loaders-css>
      <h3>{{progressMessageLineOne}}<br><span [ngClass]="{'bold': isLineTwoBold}">{{progressMessageLineTwo}}</span></h3>
      <!--
      <div class="actions">
        <button mat-stroked-button routerLink="/main">Back</button>
      </div>
      -->
    </ng-container>
  </ng-container>

  <ng-container *ngIf="isFinished">
    <h2 class="title" style="padding: 10px">Deposit Successful!</h2>
    <div>
      <img src="/assets/images/guy-fawkes-zip.png" width="240px">
    </div>
    <h3 class="title" style="padding: 10px">From this moment no one wouldn't know what you do with you funds</h3>
    <div class="actions">
      <button mat-flat-button color="primary" routerLink="/main">Let's make transaction</button>
    </div>
  </ng-container>

  <ng-container *ngIf="isFinishedWithError">
    <h2 class="title" style="padding: 10px">Oops!<br>something went wrong</h2>
    <div>
      <!--      <img src="/assets/images/guy-fawkes-oh-no.png" width="240px">-->
      <img src="/assets/images/guy-fawkes-dont-know.png" width="240px">
    </div>
    <h3 class="title" style="padding: 10px"></h3>
    <div class="actions">
      <button mat-stroked-button routerLink="/main">Back</button>
    </div>
  </ng-container>
</div>
