<!-- Not account yet: show something -->
<ng-container *ngIf="account$ | async as account">

  <div class="fixed-center widget-box">
    <div [ngClass]="{
            'widget-box-main-contant': true,
            'widget-box-center': isNeedToShowLoader
          }">

      <div class="widget-box-header">
        <div class="tooltip-box">

          <div class="address-box">
            <button class="circle-button" mat-icon-button routerLink="./settings">
              <img class="icon-settings" src="../../assets/icons/settings.png">
            </button>


            <div #addressTooltip="matTooltip"
                 (click)="onAddressClick(addressTooltip, account)"
                 [matTooltip]="tooltipMessage"
                 class="address">
              <p class="title">Your ZP address:</p>
              <p>{{account.zeropoolAddressPreview}}</p>
            </div>

          </div>
        </div>
        <mat-divider></mat-divider>
      </div>

      <ng-container *ngIf="!isNeedToShowLoader">

        <div class="balance-block">
          <ng-container *ngIf="!balance">
            <h1 class="balance-zero">{{balance || 0}} zpETH</h1>
            <p *ngIf="zpGasBalance" style="margin-top: .2em" class="balance-gas">Gas {{zpGasBalance || 0}}</p>
          </ng-container>

          <ng-container *ngIf="balance">
            <h1 class="balance">
              {{balance || 0}}
              <p>zpETH</p>
              <p class="balance-gas">Gas {{zpGasBalance || 0}}</p>
            </h1>
          </ng-container>
        </div>

        <div class="button-block">
          <div class="actions mb-20">

            <button mat-stroked-button routerLink="./deposit">Deposit</button>
            <button mat-stroked-button routerLink="./transfer" [disabled]="!balance">Transfer</button>
            <button mat-stroked-button
                    [disabled]="!balance && !hasWithdrawals"
                    [routerLink]="hasWithdrawals ? 'withdrawals-list' :'./withdraw'"
                    matBadgePosition="top after"
                    [matBadge]="totalWithdrawals"
                    [matBadgeColor]="hasVerifiedWithdrawals ? 'accent' : 'primary'"
                    [matBadgeHidden]="!hasWithdrawals">Withdraw
            </button>
          </div>
        </div>

        <div class="history-block"
             [ngStyle]="{'justify-content': history && history?.length !== 0 ? 'flex-start': 'center'} "
             style="overflow: hidden;">
          <!-- TODO: move history to separate component -->
          <h4 class="title" *ngIf="history && history?.length !== 0">Transaction History</h4>
          <p *ngIf="!history || history?.length == 0">No transaction history yet</p>
          <div style="overflow-y: auto;  min-height: 1px">
            <div *ngFor="let tx of history">
              <mat-divider></mat-divider>
              <!--<div style="margin: 0.5em">-->
              <!-- <p>#81 - 2/10/2020 at 12:35</p> -->
              <div class="wrapper">
                <div class="box box-cell a">{{tx | stringifyHistory:'title'}}</div>
                <div class="box box-cell b">{{tx | stringifyHistory:'amount'}}</div>
                <div class="box box-cell c">zpETH</div>
              </div>
            </div>
          </div>
        </div>

      </ng-container>

      <ng-container *ngIf="isNeedToShowLoader">
        <div>
          <div class="prl mt">
            <h1 style="text-align: center; margin-bottom: 0">Loading</h1>
            <p style="font-style: italic">It could take some time</p>
            <loaders-css loader="ball-beat" [color]="color" [scale]="1"></loaders-css>
          </div>
        </div>
      </ng-container>

    </div>
  </div>

  <!--
  <div *ngIf="!isConnectedEthereum">
    <div class="fixed-center widget-box">
      <img style="margin-top: 1em; margin-left: auto; margin-right: auto" src="/assets/images/zeropool-logo.jpeg" width="100px">
      <h1>Connect Wallet</h1>
      <h5 style="margin-top: -1.5em">To start using ZeroPool</h5>
      <div class="">
        <button mat-stroked-button (click)="connectWallet()">
          <img style="padding-bottom: 1em; padding-top: 1em;" src="/assets/images/metamask.png" width="100px">
        </button>
      </div>
    </div>
  </div>
  -->

</ng-container>

