<!-- Not account yet: show something -->
<ng-container *ngIf="account$ | async as account">

  <div *ngIf="isConnectedEthereum">

    <div class="fixed-center widget-box pt-50"  *ngIf="!history || !balance">
      <div class="widget-box-main-contant">
        <div class="widget-box-header">
          <div class="tooltip-box">

          <div class="address-box">
            <button class="circle-buttun" mat-icon-button routerLink="./settings">
              <img class="icon-settings" src="../../assets/icons/settings.png">
            </button>

              <div #addressTooltip="matTooltip" (click)="onAddressClick(addressTooltip, account)"
                   [matTooltip]="tooltipMessage"
                   class="address">
                <p class="title">Your ZP address:</p>
                <p>{{account.zeropoolAddressPreview}}</p>
              </div>

            </div>

          </div>
          <mat-divider></mat-divider>

        </div>

        <div>
          <div class="prl mt">
            <h1 style="text-align: center; margin-bottom: 0">
              Loading
            </h1>
            <p style="font-style: italic">It could take some time</p>
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </div>
        </div>

      </div>
    </div>

    <div class="fixed-center widget-box" *ngIf="history && balance">
      <div class="widget-box-main-contant">
        <div class="widget-box-header">
          <div class="tooltip-box">

            <div class="address-box">
              <button mat-button>
                <img class="icon-settings" src="../../assets/icons/settings.png">
              </button>


              <div #addressTooltip="matTooltip"
                   (click)="onAddressClick(addressTooltip, account)"
                   [matTooltip]="tooltipMessage"
                   class="address">
                <p class="title">Your ZP address:</p>
                <p>{{account.zeropoolAddressPreview}}</p>
              </div>
            </div>
          </div>
          <mat-divider></mat-divider>

        </div>

        <h1 class="balance">
          {{balance}}
          <p *ngIf="balance">zpETH</p>
        </h1>

        <div class="actions mb-20">
          <button mat-stroked-button routerLink="./deposit">Deposit</button>
          <button mat-stroked-button routerLink="./transfer">Transfer</button>
          <button mat-stroked-button routerLink="./withdraw"
                  matBadgePosition="top after"
                  [matBadge]="totalWithdrawals"
                  [matBadgeColor]="hasVerifiedWithdrawals ? 'accent' : 'primary'"
                  [matBadgeHidden]="!hasWithdrawals">Withdraw</button>
        </div>

        <h4 class="title">Transaction History</h4>
        <p *ngIf="history?.length == 0">No transaction history yet</p>
        <div style="overflow-y: auto;  min-height: 1px">
          <div *ngFor="let tx of history">
            <mat-divider></mat-divider>
            <!--<div style="margin: 0.5em">-->
              <!-- <p>#81 - 2/10/2020 at 12:35</p> -->
              <div class="wrapper" style="text-align: left">

                <div class="box a">
<!--                  <img style="margin-top: 1em; margin-left: auto; margin-right: auto" src="/assets/images/zeropool-logo.jpeg" width="40px">-->
                </div>
                <div class="box b">
                  <p style="margin: 0; font-weight: bold;">{{ tx.action.toUpperCase() }}</p>
                  <p>{{ fromDecimals(tx.amount) }} zpETH</p>
                </div>
                <div class="box e"></div>

              </div>
              <!--<p *ngIf="tx.type === 'in'" style="color: green">  </p>-->
              <!--<p *ngIf="tx.type === 'out'" style="color: red">{{ tx.amount }} zpETH {{ tx.action }}</p>-->
            <!--</div>-->
          </div>
        </div>

      </div>

    </div>

  </div>

  <div *ngIf="!isConnectedEthereum">
    <div class="fixed-center widget-box">
      <img style="margin-top: 1em; margin-left: auto; margin-right: auto" src="/assets/images/zeropool-logo.jpeg" width="100px">
      <h1>Connect Wallet</h1>
      <h5 style="margin-top: -1.5em">To start using ZeroPool</h5>
      <div class="">
        <button mat-stroked-button (click)="connectWallet()">
          <img style="padding-bottom: 1em; padding-top: 1em;" src="/assets/images/metamask.png" width="100px">
        </button>
      </div>
    </div>
  </div>


</ng-container>

