.address-box {
  display: grid;
  grid-row: 1;
  grid-template-columns: 40px 1fr 40px;
  margin-bottom: .9em;

  p {
    margin: 0;
    padding: 0;
  }
}

.address {
  cursor: pointer;
  font-weight:400;
}

.title {
  font-weight:700;
}

.tooltip-box {
  position: relative;
}

.tooltip {
  position: absolute;
  top: 40px;
}

.balance {
  margin: 3.5em 0 0.5em 0;
}

.circle-buttun {
  @media (min-width: 600px) {
    &:hover {
      background-color: rgba(51, 51, 51, .1);
    }
  }
}

.icon-settings {
  display: block;
  margin: 0 auto;
  width: 28px;

}

::ng-deep .mat-progress-bar-fill::after {
  background-color: black;
}

::ng-deep .mat-progress-bar-buffer {
  background: #E4E8EB;
}

::ng-deep .mat-progress-bar {
  border-radius: 2px;
}

.prl {
  padding-left: 1em;
  padding-right: 1em;
}

.mt {
  margin-top: -3em;
}

.wrapper {
  display: grid;
  //grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, 100px ) ;
  background-color: white;
  color: #444;
}

.box {
  background-color: white;
  color: #444;
  border-radius: 5px;
  //padding: 10px;
  font-size: 100%;
}

.a {
  grid-column: 1 / 6;
  grid-row: 1;
}
.b {
  grid-column: 2 / 6 ;
  grid-row: 1;
  margin: .5em 0;

  p {
    margin: 0;
  }
}

.e {
  grid-column: 3 / 6;
  //grid-row: 2;
}
