.address-box {
  display: grid;
  grid-row: 1;
  grid-template-columns: 40px 1fr 40px;
  margin-bottom: 0.5em;
  margin-top: 0.5em;

  p {
    margin: 0;
    padding: 0;
  }
}

.tooltip-box {
  position: relative;
}

.tooltip {
  position: absolute;
  top: 40px;
}
