.address-box {
  display: grid;
  grid-row: 1;
  grid-template-columns: 40px 1fr 40px;
  margin-bottom: 0.5em;

  p {
    margin: 0;
    padding: 0;
  }
}

.address {
  cursor: pointer;
  font-weight:400;
}

.title {
  font-weight:700;
}

.tooltip-box {
  position: relative;
}

.tooltip {
  position: absolute;
  top: 40px;
}

.balance {
  margin: 1em 0 1.5em 0;
}

.icon-settings {
  display: block;
  width: 28px;

  &:hover {
    cursor: pointer;
  }
}

::ng-deep .mat-progress-bar-fill::after {
  background-color: black;
}

::ng-deep .mat-progress-bar-buffer {
  background: #E4E8EB;
}

::ng-deep .mat-progress-bar {
  border-radius: 2px;
}

.prl {
  padding-left: 1em;
  padding-right: 1em;
}

.mt {
  margin-top: -3em;
}
