<div class="fixed-center widget-box">
  <ng-container *ngIf="!inProgress" [formGroup]="form">
    <h1>Gas deposit</h1>

    <p>We kindly ask you to cover relayer gas fees by making gas deposit.</p>

    <br>
    <app-amount-input label="Enter amount of ETH" formControlName="toAmount"></app-amount-input>
    <br>

    <div class="actions button-box">
      <button mat-stroked-button routerLink="/main">Back</button>
      <button mat-flat-button color="accent" class="next-btn"
              [disabled]="!form.valid"
              (click)="depositGas()">
        Make Gas Deposit
      </button>
    </div>
  </ng-container>

  <ng-container *ngIf="inProgress">
    <h2>Withdraw in progress</h2>
    <div>
      <img src="/assets/images/guy-fawkes-cross-fingers.png" width="240px">
    </div>

    <loaders-css loader="ball-beat" [color]="'rgba(100, 100, 100, 0.5)'" [scale]="1"></loaders-css>
    <h3>Waiting for transaction confirmation <br> It might take several minutes</h3>
    <div class="actions">
      <button mat-stroked-button routerLink="/main">Back</button>
    </div>
  </ng-container>

  <ng-container *ngIf="isDone && !inProgress">
    <h3>Successful</h3>
    <div class="actions">
      <button mat-stroked-button routerLink="/main">Back</button>
    </div>
  </ng-container>
</div>
