<div class="fixed-center widget-box">
  <ng-container *ngIf="!inProgress && !isDone && !isDoneWithError" [formGroup]="form">
    <h1>Donate gas</h1>

    <p>Ethers that you donate will cover relayer gas fees. <b>This donation can't be returned back</b></p>

    <br>

    <mat-form-field appearance="outline" class="field">
      <mat-label>Enter amount of ETH</mat-label>
      <input matInput formControlName="amount" autocomplete="off" type="number">
      <mat-hint align="end">
        Maximum amount of gas donation in BETA is:
        <span (click)="setMax()" style="text-decoration: underline; cursor: pointer;">{{maxEth}} ETH</span>
      </mat-hint>
      <!--
        <mat-error *ngFor="let errorText of objectValues(amount.errors || {})">{{errorText}}</mat-error>
      -->
      <mat-error *ngIf="amount.hasError('min')">
        Min amount of gas donation {{minEth}}
      </mat-error>
      <mat-error *ngIf="amount.hasError('max')">
        Maximum amount of gas donation in BETA is: {{maxEth}} ETH
      </mat-error>
      <mat-error *ngIf="amount.hasError('notEnough')">
        Don't have enough funds
      </mat-error>

    </mat-form-field>

    <br>

    <div class="actions button-box">
      <button mat-stroked-button routerLink="/main">Back</button>
      <button mat-flat-button color="accent" class="next-btn" [disabled]="!form.valid" (click)="depositGas()">
        Make Gas Deposit
      </button>
    </div>
  </ng-container>

  <ng-container>
    <app-progress-message
      [hidden]="!(inProgress && !isDone && !isDoneWithError)"
      #progressDialog></app-progress-message>
    <!--
    <div class="actions">
      <button mat-stroked-button routerLink="/main">Back</button>
    </div>
    -->
  </ng-container>

  <ng-container *ngIf="isDone && !inProgress">
    <h1>Done!</h1>
    <div>
      <img src="/assets/images/guy-fawkes-burn-2.png" width="240px">
    </div>
    <h2>Now we have Gas to burn!</h2>
    <div class="actions">
      <button mat-stroked-button routerLink="/main">Back</button>
    </div>
  </ng-container>

  <ng-container *ngIf="isDoneWithError && !inProgress">
    <h2 class="title">Oops!<br>something went wrong</h2>
    <div>
      <img src="/assets/images/guy-fawkes-dont-know.png" width="240px">
    </div>
    <h3 class="title"></h3>
    <div class="actions">
      <button mat-stroked-button routerLink="/main">Back</button>
    </div>
  </ng-container>
</div>
