<div class="container">
  <div class="toolbar" role="banner">
    <h2 class="logo">
      <span class="logo-bold">ZERO</span>
      <span>POOL</span>
    </h2>
    <div class="spacer"></div>

    <ng-container *ngIf="!(ethAddress$ | async)">
      <button mat-stroked-button (click)="connectWallet()">Connect Wallet</button>
    </ng-container>

    <ng-container *ngIf="ethAddress$ | async as ethAddress">
      <p>{{ethAddress.short}}</p>
    </ng-container>
  </div>

  <div class="toolbar warning">
    <span class="mobile-hidden"></span>
    <h2>It's BETA version of ZeroPool App that wasn't audited, you can use it on your own risk.</h2>
    <button mat-icon-button><mat-icon>close</mat-icon></button>
  </div>

  <div>
    <router-outlet></router-outlet>
  </div>
</div>
<!--<h2 *ngIf="!(circomeResourcesLoaded$ |async)">Loading circome...</h2>-->
<!--<h2 *ngIf="hasError$ |async" style="color: red">Circome Loading Error</h2>-->




