:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0;
}

p {
  margin: 0;
}

.spacer {
  flex: 1;
}

$toolbar-height: 60px;

.container {
  position: relative;
  text-align: center;
  padding: $toolbar-height 20px 0 20px;

  @media (min-width: 600px) {
    padding: $toolbar-height + 100px 20px 0 20px;
  }
}

.toolbar {
  align-items: center;
  background-color: #24292e;
  color: white;
  display: flex;
  font-weight: 600;
  height: $toolbar-height;
  left: 0;
  padding-left: 1.5em;
  padding-right: 1.5em;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
}

.warning {
  background-color: #f44336;
  justify-content: space-between;

  p {
    @media (max-width: 600px) {
      width: auto;
      font-size: 12px;
      line-height: 18px;
    }
  }

  button {
    @media (min-width: 600px) {
      &:hover {
        background-color: rgba(255, 255, 255, .12);
      }
    }
  }
}

.logo {
  outline: none;
  cursor: pointer;
  font-weight: 400;
  &-bold {
    font-weight: 600;
  }
}
