<div class="container">
  <div class="toolbar" role="banner">
    <h2 class="logo" routerLink="/">
      <span class="logo-bold">ZERO</span>
      <span>POOL</span>
    </h2>
    <div class="spacer"></div>

    <ng-container *ngIf="!(ethAddress$ | async)">
      <button mat-stroked-button (click)="connectWallet()">Connect Wallet</button>
    </ng-container>

    <ng-container *ngIf="ethAddress$ | async as ethAddress">
      <p>{{ethAddress.short}}</p>
    </ng-container>
  </div>

  <ng-container *ngIf="displayWarning">
    <div class="toolbar warning">
      <span class="mobile-hidden"></span>
      <p>This is an unaudited BETA version of the ZeroPool app for demonstration purposes only. Use it at your own risk</p>
      <button mat-icon-button (click)="hideWarning()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </ng-container>

  <div>
    <router-outlet></router-outlet>
  </div>
</div>
<!--<h2 *ngIf="!(circomeResourcesLoaded$ |async)">Loading circome...</h2>-->
<!--<h2 *ngIf="hasError$ |async" style="color: red">Circome Loading Error</h2>-->




