<div class="fixed-center widget-box">
  <ng-container *ngIf="!isDone && !isDoneWithError" [formGroup]="transferForm">

    <ng-container *ngIf="myZpBalance">
      <div style="  padding: 10px; font-size: 0.7em">Available {{myZpBalance}} zpETH</div>
    </ng-container>

    <ng-container *ngIf="!withdrawIsInProgress">
      <h2>Place withdraw request</h2>

      <p>Published withdraw requests will be available for the challenge during the next {{10}} blocks.<br> You will be
        able to transfer funds to your account once that period is expired.</p>

      <!--      <app-zp-address-input label="Enter receivers ethereum address" formControlName="toAddress" disabled="true"></app-zp-address-input>-->

      <app-amount-input label="Enter amount of ETH" formControlName="toAmount"></app-amount-input>

      <div class="actions">
        <button mat-stroked-button routerLink="/main">Back</button>
        <button mat-flat-button color="accent" [disabled]="!transferForm.valid" (click)="onSendClick()">Send</button>
      </div>
    </ng-container>

    <ng-container *ngIf="withdrawIsInProgress">
      <app-progress-message #progressDialog></app-progress-message>
    </ng-container>

  </ng-container>


  <ng-container *ngIf="isDone">
    <h3>Prepare withdraw ZP BlockItem Successful</h3>
    <div class="actions">
      <button mat-stroked-button routerLink="/main">Back</button>
    </div>
  </ng-container>

  <ng-container *ngIf="isDoneWithError">
    <h2 class="title" style="padding: 10px">Oops!<br>something went wrong</h2>
    <div>
      <!--      <img src="/assets/images/guy-fawkes-oh-no.png" width="240px">-->
      <img src="/assets/images/guy-fawkes-dont-know.png" width="240px">
    </div>
    <h3 class="title" style="padding: 10px"></h3>
    <div class="actions">
      <button mat-stroked-button routerLink="/main">Back</button>
    </div>
  </ng-container>
</div>
