<div class="fixed-center widget-box">

  <ng-container *ngIf="!isDone && !isDoneWithError" [formGroup]="transferForm">

    <app-progress-message [hidden]="!withdrawIsInProgress" #progressDialog></app-progress-message>

    <ng-container *ngIf="!withdrawIsInProgress">
      <h2>Withdrawal</h2>

      <p>First, you request will be published and become available for the challenge during the
        next {{challengeExpiresBlocks}} blocks.</p>
      <p> You will be able to transfer funds to your account once that period is expired.</p>

      <mat-form-field appearance="outline" class="field">
        <mat-label>Enter amount of zpETH</mat-label>
        <input matInput formControlName="toAmount" autocomplete="off" type="number">
        <mat-hint *ngIf="myZpBalance" align="end">
          Available: <span class="fill-value-hint" (click)="fillMax(myZpBalance);">{{myZpBalance}} zpETH</span>
        </mat-hint>

        <mat-error *ngIf="toAmount.hasError('min')">
          Min amount is {{minAmount}} zpETH
        </mat-error>
        <mat-error *ngIf="toAmount.hasError('max')">
          You have only {{myZpBalance}} zpETH
        </mat-error>
      </mat-form-field>

      <div class="actions" style="margin-top: 20px">
        <button mat-stroked-button routerLink="/main">Back</button>
        <button mat-flat-button color="accent" [disabled]="!transferForm.valid" (click)="onSendClick()">Send</button>
      </div>
    </ng-container>

  </ng-container>


  <ng-container *ngIf="isDone">
    <h2 class="title" style="margin-bottom: 25px">Successful Withdrawal</h2>
    <div>
      <img src="/assets/images/guy-fawkes-thanks.png" width="240px" height="240">
    </div>
    <div class="actions" style="margin-top: 25px">
      <button mat-stroked-button routerLink="/main">Back</button>
    </div>
  </ng-container>

  <ng-container *ngIf="isDoneWithError">
    <h2 class="title">Oops!<br>something went wrong</h2>
    <div>
      <img src="/assets/images/guy-fawkes-dont-know.png" width="240px" height="240">
    </div>
    <h3 class="title"></h3>
    <div class="actions">
      <button mat-stroked-button routerLink="/main">Back</button>
    </div>
  </ng-container>
</div>
