<div class="fixed-center widget-box">
  <h2>Your withdrawals</h2>
  <div class="withdrawals-list">

    <div *ngFor="let w of withdrawals">
      <div class="withdrawals-row">
        <div>
          <p *ngIf="!isReady(w.blockNumber)">Pending {{ getRemainingBlockNumber(w.blockNumber) }} / {{ expiresBlockNumber }} blocks</p>
          <p *ngIf="isReady(w.blockNumber)">Verified</p>
          <h3>{{ getAmount(w.utxo.amount) }} {{ getAssetName(w.utxo.token) }}</h3>
        </div>
        <button *ngIf="isReady(w.blockNumber)" (click)="withdraw(w)" mat-stroked-button>Finalize</button>
      </div>
    </div>

  </div>
  <div class="actions mt-20">
    <button mat-stroked-button routerLink="/main">Back</button>
    <button mat-flat-button routerLink="/main/withdraw" color="accent">New withdraw</button>
  </div>
</div>
