<div class="fixed-center widget-box">
  <h2>Your withdrawals</h2>
  <div class="withdrawals-list">
    <ng-container *ngFor="let w of withdrawals$ | async">
      <ng-container *ngIf="{isReady: isReadyToFinalize(w.payNote.blockNumber) | async} as finalize">

        <div class="withdrawals-row">
          <div>
            <p *ngIf="!finalize.isReady">
              Pending {{ getRemainingBlockNumber(w.payNote.blockNumber) | async }} / {{ expiresBlockNumber | async }}
              blocks
            </p>
            <p *ngIf="finalize.isReady">Verified</p>
            <h3>{{ getAmount(w.payNote.utxo.amount) }} {{ getAssetName(w.payNote.utxo.token) }}</h3>
          </div>

          <div>
            <loaders-css *ngIf="w.isFinalizingNow && !w.isAwaitingForMetamaskSign"
                         loader="ball-beat" [color]="'rgba(100, 100, 100, 0.5)'" [scale]="1"></loaders-css>

            <button *ngIf="!w.isFinalizingNow && !w.isAwaitingForMetamaskSign"
                    [disabled]="!finalize.isReady" (click)="withdraw(w.payNote)" mat-stroked-button>Finalize
            </button>
            <p *ngIf="w.isAwaitingForMetamaskSign"
               style="font-size: small"><b>check metamask</b>
            </p>
          </div>

        </div>

      </ng-container>
    </ng-container>

  </div>
  <div class="actions mt-20">
    <button mat-stroked-button routerLink="/main">Back</button>
    <button [disabled]="!isAvailableNewWithdraw" mat-flat-button routerLink="/main/withdraw" color="accent">New
      withdraw
    </button>
  </div>
</div>
