// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$zp-pwa-primary: mat-palette($mat-blue);
$zp-pwa-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$zp-pwa-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$zp-pwa-theme: mat-light-theme($zp-pwa-primary, $zp-pwa-accent, $zp-pwa-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($zp-pwa-theme);

/* You can add global styles to this file, and also import other style files */
//html, body {
//  margin: 0;
//  padding: 0;
//  height: 100%;
//  width: 100%;
//}
/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

//body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.notice-block-hidden {
  display: none !important;
}

.notice-title {
  text-align: center;
  font-weight: 200 !important;
}

.notice-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 20px;

  @media (min-width: 600px) {
    display: block;
    margin: 100px auto 0;
  }
}

.start-container {
  height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  flex-direction: column;

  @media (min-width: 600px) {
    height: auto;
    display: block;
  }
}

.fixed-center {
  //height: 515px;
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  width: auto;

  @media (max-width: 600px) {
    left: 0;
    position: relative;
    transform: none;
    top: 0;
  }
}

.widget-box {
  height: calc(100vh - 75px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: 600px) {
    width: 350px;
    height: 515px;
    border-radius: 1em;
    box-shadow: 0 15px 68px -18px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0 15px 68px -18px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 15px 68px -18px rgba(0, 0, 0, 0.75);
    padding: 1em;
  }

  &.pt-50 {
    padding-top: 5em;
  }

  &-main-contant {
    display: grid;
    padding-top: 65px;
    height: 100%;
    position: relative;
    grid-template-rows: 3fr 1fr 4fr;
  }

  &-center {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &-header {
    left: 0;
    position: absolute;
    top: 1em;
    width: 100%;

    @media (min-width: 600px) {
      position: fixed;
      top: 1.5em;
      left: 1em;
      right: 1em;
      width: auto;
    }
  }
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: center;

  button {
    border: 1px solid !important;
    font-size: 1em;
    margin: 0.2em;
    padding: 0.3em 1em;
    min-width: 100px;
    width: 100%;
  }
}

.field {
  width: 100%;
}

button.arrow-back {
  display: block;
  margin: 0 auto;
}

.pb-40 {
  padding-bottom: 40px;
}

.m-0 {
  margin: 0;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mat-checkbox-layout {
  white-space: normal !important;
  text-align: left;
}

.mat-badge-medium .mat-badge-content {
  line-height: 20px;
}

.mobile-hidden {
  display: none;

  @media (min-width: 600px) {
    display: block;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.available-eth {
  font-size: 0.7em;
}
