<div class="fixed-center widget-box">
  <div class="widget-box-main-contant settings-content">
    <div class="settings-acount-list"></div>
    <section class="settings-delete">
      <h3 class="settings-text-warning">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores distinctio et optio reprehenderit temporibus vitae.</h3>
      <mat-checkbox>I agree</mat-checkbox>
      <div class="actions mt-20">
        <button mat-stroked-button
                routerLink=""
                color="warn"
                disabled>
          Delete account
        </button>
      </div>
    </section>
    <div class="actions mt-10">
      <button mat-stroked-button routerLink="/main">Back</button>
    </div>
  </div>
</div>
