<div class="fixed-center widget-box">
  <div class="widget-box-center settings-content">

    <div class="setti ngs-acount-list"></div>
    <h1>Settings</h1>

    <section class="settings-delete">

      <div class="actions mt-10">
        <button mat-stroked-button routerLink="/main/settings/reset">Reset Account</button>
      </div>
      <div class="actions mt-10">
        <button mat-stroked-button routerLink="/main/settings/dust-protection">Dust Protection</button>
      </div>
    </section>

    <div class="actions mt-10">
      <button mat-stroked-button routerLink="/main">Back</button>
    </div>
  </div>
</div>
