<mat-form-field appearance="outline" style="width: 300px">
  <mat-label>Enter amount of ETH</mat-label>
  <input
    (change)="onChange($event)"
    (keyup)="onChange($event)"
    matInput
    placeholder="0.05 ETH">
</mat-form-field>

<!--
<div *ngIf="mnemonic.invalid && (mnemonic.dirty || mnemonic.touched)"
     class="alert alert-danger">
  <div *ngIf="mnemonic.errors.required">
    Name is required.
  </div>
  <div *ngIf="mnemonic.errors.badMnemonic">
    Mnemonic is invalid
  </div>
</div>
-->



