<div class="fixed-center widget-box">
  <ng-container *ngIf="!isDone && !isDoneWithError" [formGroup]="form">

    <ng-container *ngIf="!transferIsInProgress">
      <h2>Transfer</h2>

      <p class="ng-star-inserted">This transfer will happen within ZeroPool<br> and will be truly private</p>

      <div class="mt-10">

        <mat-form-field appearance="outline" class="field">
          <mat-label>Enter ZeroPool Address of receiver</mat-label>
          <input matInput formControlName="toAddress" autocomplete="off">
        </mat-form-field>

        <mat-form-field appearance="outline" class="field">
          <mat-label>Enter amount of zpETH</mat-label>
          <input matInput formControlName="toAmount" autocomplete="off" type="number">
          <mat-hint *ngIf="myZpBalance" align="end">Available {{myZpBalance}} zpETH</mat-hint>

          <mat-error *ngIf="toAmount.hasError('min')">
            Min amount is {{minAmount}} zpETH
          </mat-error>
          <mat-error *ngIf="toAmount.hasError('max')">
            You have only {{myZpBalance}} zpETH
          </mat-error>
        </mat-form-field>

      </div>

      <div class="actions mt-10">
        <button mat-stroked-button routerLink="/main">Back</button>
        <button mat-flat-button color="accent" [disabled]="!form.valid" (click)="onSendClick()">Send</button>
      </div>
    </ng-container>

    <ng-container>
      <app-progress-message
        [hidden]="!transferIsInProgress"
        #progressDialog></app-progress-message>

      <!--<h3>Waiting for transaction confirmation <br>-->
      <!--It will take several minutes</h3>-->
      <!--<div class="actions">-->
      <!--&lt;!&ndash;        <button mat-stroked-button routerLink="./transfer" routerLink="/main">Back</button>&ndash;&gt;-->
      <!--<button mat-stroked-button routerLink="/main">Back</button>-->
      <!--</div>-->
    </ng-container>

  </ng-container>


  <ng-container *ngIf="isDone">
    <h3>Send Successful</h3>
    <div class="actions">
      <!--  <button mat-stroked-button routerLink="./transfer" routerLink="/main">Back</button>-->
      <button mat-stroked-button routerLink="/main">Back</button>
    </div>
  </ng-container>

  <ng-container *ngIf="isDoneWithError">
    <h2 class="title">Oops!<br>something went wrong</h2>
    <div>
      <!--      <img src="/assets/images/guy-fawkes-oh-no.png" width="240px">-->
      <img src="/assets/images/guy-fawkes-dont-know.png" width="240px">
    </div>
    <h3 class="title"></h3>
    <div class="actions">
      <button mat-stroked-button routerLink="/main">Back</button>
    </div>
  </ng-container>
</div>
