<div class="fixed-center widget-box">
  <ng-container *ngIf="!isDone && !isDoneWithError" [formGroup]="form">

    <ng-container *ngIf="!transferIsInProgress">
      <h2>Transfer</h2>

      <p class="ng-star-inserted">This transfer will happen within ZeroPool<br> and will be truly private</p>

      <mat-form-field appearance="outline" class="field mt-10">
        <mat-label>Enter ZeroPool Address of receiver</mat-label>
        <input matInput formControlName="toAddress" autocomplete="off">
        <mat-error *ngIf="toAddress.hasError('badLength')">
          Recipient address length is invalid
        </mat-error>
        <mat-error *ngIf="toAddress.hasError('badSymbol')">
          Recipient address is invalid
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="field mt-10">
        <mat-label>Enter amount of zpETH</mat-label>
        <input matInput formControlName="toAmount" autocomplete="off" type="number">
        <mat-hint *ngIf="myZpBalance" align="end">
          Available:
          <span class="fill-value-hint" (click)="fillMax(myZpBalance);">{{myZpBalance}} zpETH</span>
        </mat-hint>


        <mat-error *ngIf="toAmount.hasError('min')">
          Min amount is {{minAmount}} zpETH
        </mat-error>
        <mat-error *ngIf="toAmount.hasError('max')">
          You have only {{myZpBalance}} zpETH
        </mat-error>
        <mat-error *ngIf="toAmount.hasError('notEnough')">
          <span>UTXO join in progress</span><br>
          <span>{{myAvailableZpBalance}} / {{myZpBalance}} zpETH is available now</span>
        </mat-error>
      </mat-form-field>

<!--      {{toAmount.errors | json}}-->

      <div class="actions mt-20">
        <button mat-stroked-button routerLink="/main">Back</button>
        <button mat-flat-button color="accent" [disabled]="!form.valid" (click)="onSendClick()">Send</button>
      </div>
    </ng-container>

    <app-progress-message #progressDialog [hidden]="!transferIsInProgress"></app-progress-message>

  </ng-container>


  <ng-container *ngIf="isDone">
    <h2 class="title" style="margin-bottom: 25px">Send Successful</h2>
    <div>
      <img src="/assets/images/guy-fawkes-you-are-right.png" width="240px" height="240">
    </div>
    <div class="actions" style="margin-top: 25px">
      <button mat-stroked-button routerLink="/main">Back</button>
    </div>
  </ng-container>

  <ng-container *ngIf="isDoneWithError">
    <h2 class="title">Oops!<br>something went wrong</h2>
    <div>
      <img src="/assets/images/guy-fawkes-dont-know.png" width="240px" height="240">
    </div>
    <h3 class="title"></h3>
    <div class="actions">
      <button mat-stroked-button routerLink="/main">Back</button>
    </div>
  </ng-container>
</div>
