<div class="fixed-center widget-box">
  <ng-container *ngIf="!isDone && !isDoneWithError" [formGroup]="form">

    <ng-container *ngIf="!transferIsInProgress">
      <h2>Transfer</h2>

      <p class="ng-star-inserted">Enter ZeroPool Address of receiver</p>

      <div class="mt-10">

        <mat-form-field appearance="outline" class="field">
          <mat-label>Enter receivers ZeroPool address</mat-label>
          <input matInput formControlName="toAddress" autocomplete="off">
        </mat-form-field>

        <mat-form-field appearance="outline" class="field">
          <mat-label>Enter amount of ETH</mat-label>
          <input matInput formControlName="toAmount" autocomplete="off">
        </mat-form-field>

        <ng-container *ngIf="myZpBalance">
          <div style="font-size: 0.7em; margin-top: -15px">Available {{myZpBalance}} zpETH</div>
        </ng-container>

      </div>

      <div class="actions" style="margin-top: 10px">
        <button mat-stroked-button routerLink="/main">Back</button>
        <button mat-flat-button color="accent" [disabled]="!form.valid" (click)="onSendClick()">Send</button>
      </div>
    </ng-container>

    <ng-container *ngIf="transferIsInProgress">
      <h2>Transfer is in progress</h2>
      <div>
        <img src="/assets/images/guy-fawkes-cross-fingers.png" width="240px">
      </div>

      <loaders-css loader="ball-beat" [color]="'rgba(100, 100, 100, 0.5)'" [scale]="1"></loaders-css>
      <h3>
        {{progressMessageLineOne}}
        <br>
        <span [ngClass]="{'bold': isLineTwoBold}">{{progressMessageLineTwo}}</span>
      </h3>
      <!--<h3>Waiting for transaction confirmation <br>-->
      <!--It will take several minutes</h3>-->
      <!--<div class="actions">-->
      <!--&lt;!&ndash;        <button mat-stroked-button routerLink="./transfer" routerLink="/main">Back</button>&ndash;&gt;-->
      <!--<button mat-stroked-button routerLink="/main">Back</button>-->
      <!--</div>--> 
    </ng-container>

  </ng-container>


  <ng-container *ngIf="isDone">
    <h3>Send Successful</h3>
    <div class="actions">
      <!--  <button mat-stroked-button routerLink="./transfer" routerLink="/main">Back</button>-->
      <button mat-stroked-button routerLink="/main">Back</button>
    </div>
  </ng-container>

  <ng-container *ngIf="isDoneWithError">
    <h2 class="title" style="padding: 10px">Oops!<br>something went wrong</h2>
    <div>
      <!--      <img src="/assets/images/guy-fawkes-oh-no.png" width="240px">-->
      <img src="/assets/images/guy-fawkes-dont-know.png" width="240px">
    </div>
    <h3 class="title" style="padding: 10px"></h3>
    <div class="actions">
      <button mat-stroked-button routerLink="/main">Back</button>
    </div>
  </ng-container>
</div>
